configuration {
    modes:                  [ drun, window, run ];
    combi-modes:            [ drun, window, run ];
    font:                   "IosevkaTerm Nerd Font 18";
    show-icons:             true;
    click-to-exit:          true;
    disable-history:        true;
    sidebar-mode:           false;
}

@theme "dotfiles"
