[submodule "dotfiles/archlinux/.config/awesome/modules/bling"]
	path = dotfiles/archlinux/.config/awesome/modules/bling
	url = git@github.com:BlingCorp/bling.git
[submodule "dotfiles/common/.config/nvim"]
	path = dotfiles/common/.config/nvim
	url = git@github.com:simao-ferreira/nvim.git
[submodule "dotfiles/common/.config/ranger/plugins/devicons2"]
	path = dotfiles/common/.config/ranger/plugins/devicons2
	url = git@github.com:cdump/ranger-devicons2.git
