[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:itzalak/nvim.git
[submodule "awesome/.config/awesome/modules/bling"]
	path = awesome/.config/awesome/modules/bling
	url = git@github.com:BlingCorp/bling.git
