[submodule "terminal/.config/ranger/plugins/ranger-devicons2"]
	path = terminal/.config/ranger/plugins/ranger-devicons2
	url = git@github.com:cdump/ranger-devicons2.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:itzalak/nvim.git
