! This would be better in a cache file - work for later
#include ".config/decorator/output/xresources"

!! Dpi
Xft.dpi:        192

!! URxvt configs !!
URxvt*depth: 32
URxvt.font:                       xft:Iosevka Nerd Font:pixelsize=17
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  10000
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
