// This config is in the KDL format: https://kdl.dev
// https://yalter.github.io/niri/

include "outputs.kdl"
include "layout.kdl"
include "input.kdl"
include "window-rule.kdl"
include "binds.kdl"
include "environment.kdl"
// TODO: This should be a relative path or at least a option (available in the next release)
include "/home/vimes/.config/tint16/palettes/niri-colors.kdl"

// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-at-startup
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "dms" "run"
spawn-at-startup "journalctl-desktop-notification"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets,ssh,pkcs11"
spawn-at-startup "udiskie --tray --notify"
spawn-at-startup "wl-paste --watch cliphist store --max-items 100"

hotkey-overlay {
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null
screenshot-path "~/Pictures/ss_%Y%m%d%H%M%S.png"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}
