// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 200
        repeat-rate 25
    }

    touchpad {
        tap
        dwt
        drag false
        scroll-method "two-finger"
        click-method "clickfinger"
    }

    mouse {
        scroll-factor 1.0
    }

    workspace-auto-back-and-forth
}
