// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 14

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1
    }

    border {
        off
        width 2
    }

    struts {
        left 16
        right 16
        top 16
        bottom 16
    }
}

recent-windows {
    highlight {
        corner-radius 12
    }
}

overview {
    backdrop-color "#1a1b26"
    workspace-shadow {
        softness 50
        spread 20
        offset x=0 y=10
        color "#0007"
    }
}
