* {
    transparent:    #01020120;
    background:     #010201;
    foreground:     #ebdbb2;
    red:            #cc241d;
    green:          #98971a;
    yellow:         #d79921;
    blue:           #458588;
    gray:           #928374;
    accent:         #689d6a;
}
