* {
  font-family: "Iosevka Nerd Font", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

@import "../tint16/palettes/waybar.css";

/*Bar settings*/
window#waybar {
  background-color: #0A0B0B;
  border-radius: 0px;
  opacity: 1;
}

tooltip {
  background: @background;
  opacity: 0.9;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: @foreground;
}

tooltip label {
  color: @foreground;
}

/*Button settings*/
button {
  box-shadow: inset 0 -2px transparent;
  padding: 0px 5px;
  margin: 5px 2px;
  border-radius: 5px;
}

button:hover {
  box-shadow: inset 0 -2px @foreground;
}

/*Workspace button settings*/
/*order matters, last one is applied in case of conflict*/
/*e.g. hover only applies on special if after special*/
/*or needs to override all fields*/
#workspaces {
  background: transparent;
}

#workspaces button {
  background-color: @color0;
  color: @foreground;
}

#workspaces button.urgent {
  background-color: @color3;
}

#workspaces button.special {
  color: @color3;
  background-color: @background;
  box-shadow: inset 0 -2px @foreground;
}

#workspaces button:hover {
  background: @color0;
  color: @foreground;
}

#workspaces button.active {
  color: @background;
  background-color: @color12;
  box-shadow: inset 0 -2px @foreground;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 1px;
}

/*Submap settings*/
#submap {
  color: @color12;
  background-color: @background;
  padding: 0px 10px;
  margin: 5px 2px;
  border-radius: 5px;
  box-shadow: inset 0 -2px @foreground;
}

/*Animations*/
@keyframes blink {
  to {
    background-color: @foreground;
    color: @background;
  }
}

/*Module settings*/
#clock,
#battery,
#bluetooth,
#idle_inhibitor,
#wireplumber,
#temperature,
#network,
#tray {
  padding: 0px 10px;
  margin: 5px 2px;
  border-radius: 5px;
}

#clock {
  color: @foreground;
  background-color: @background;
}

#battery {
  padding: 0 13px 0 13px;
  color: @foreground;
  background-color: @background;
}

#battery.charging,
#battery.plugged {
  color: @color12;
  background-color: @background;
  box-shadow: inset 0 -2px @foreground;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @color1;
  color: @background;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#wireplumber {
  color: @foreground;
  background-color: @background;
}

#temperature {
  color: @foreground;
  background-color: @background;
}

#temperature.critical {
  background-color: @color1;
}

#tray {
  color: @foreground;
  background-color: @background;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}

#idle_inhibitor {
  padding: 0 15px 0 10px;
  color: @foreground;
  background-color: @background;
}

#bluetooth {
  padding: 0 13px 0 10px;
  color: @foreground;
  background-color: @background;
}

#network {
  padding: 0 15px 0 10px;
  color: @foreground;
  background-color: @background;
}

#bluetooth.off,
#idle_inhibitor.activated,
#network.disconnected {
  color: @color3;
  background-color: @background;
  box-shadow: inset 0 -2px @color1;
}

#wireplumber.muted {
  padding: 0 13px 0 10px;
  color: @color3;
  background-color: @background;
  box-shadow: inset 0 -2px @color1;
}

#privacy-item {
  padding: 0px 10px;
  margin: 5px 2px;
  border-radius: 5px;
}

#privacy-item.screenshare {
  color: @color3;
  background-color: @background;
  box-shadow: inset 0 -2px @color1;
}

#privacy-item.audio-in {
  color: @color3;
  background-color: @background;
  box-shadow: inset 0 -2px @color1;
}

#privacy-item.audio-out {
  color: @color12;
  background-color: @background;
  box-shadow: inset 0 -2px @foreground;
}
