configuration {
    font: 							"Iosevka Nerd Font 14";
    show-icons: 					true;
    click-to-exit: 					true;
    disable-history:                true;
	sidebar-mode: 					false;
    display-window: 				"";
    display-run: 					"";
    display-drun: 					"";
}
