* {
    transparent:    #22243620;
    background:     #222436;
    foreground:     #c8d3f5;
    red:            #ff757f;
    green:          #c3e88d;
    yellow:         #ffc777;
    blue:           #82aaff;
    gray:           #444a73;
    accent:         #86e1fc;
}
