* {
    transparent:    #15271920;
    background:     #152719;
    foreground:     #ccedd1;
    red:            #e14433;
    green:          #a2bc3c;
    yellow:         #ec984d;
    blue:           #3c8cbf;
    gray:           #3a6243;
    accent:         #3b9586;
}
