* {
    transparent:    #092a1320;
    background:     #092a13;
    foreground:     #e2f6a6;
    red:            #e14433;
    green:          #5cb200;
    yellow:         #ebbe2f;
    blue:           #56b8f7;
    gray:           #637321;
    accent:         #27c3d9;
}
